.conta-ativa {
    .text-success {
        text-align: center;
        color: rgb(28, 165, 62);
    }
    .text-error {
        text-align: center;
        color: rgb(172, 10, 37);
    }
    h3 {
        text-align: center;
        color: #bf7049;
    }
    h4 {
        color: #3d6342;
    }
}